In [2]:
# Contoh contoh variabel

a = 10 # integer
b = 3.14 # float
c = "edison" # string
d = "Tarigan" # string
e = True # boolean
f = False # boolean
g = [] # list
h = [1, 2, 3] # list
i = {} # dictionary
j = () # tuple

# integer, float, string, boolean, list, dictionary, tuple

In [22]:
print("hai")

hai

In [3]:
# print => untuk debugging 

print(a)

10

In [8]:
print(2+4*3)

14

In [ ]:
nama = input("masukkan nama")

In [13]:
# concatination

nama = "edison"
umur = 20
alamat = "Medan"

In [14]:
print("hai namaku adalah " + nama)

hai namaku adalah edison

In [15]:
print("hai namaku adalah {}, umurku {}, aku tinggal di {}".format(nama, umur, alamat))

hai namaku adalah edison, umurku 20, aku tinggal di Medan

In [16]:
print("Hai namaku adalah", nama ,", aku tinggal di", alamat ,", umurku", umur)

Hai namaku adalah edison , aku tinggal di Medan , umurku 20

In [17]:
import math

a = 10
b = 10

# if else

## conditional statement
a == b 
a != b
a <= b
a >= b
a < b
a > b
True and True
True or True

## operator 
a + b
a - b
a * b
a / b
a // b
a ** b
a % b
a ** (1/2)
math.sqrt(a)
math.sin(a)
math.cos(a)
math.tan(a)
math.log(a)

2.302585092994046

In [19]:
# if else 

if a == 10:
  print("a sama dengan 10")
elif a > 10:
  print("a lebih besar dari 10")
else:
  print("a kurang dari 10")

a sama dengan 10